<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" href="/img/logo.png">
    <title>Org{{organizacion.id}}-Rep{{reporte.id}}</title>
    <link rel="stylesheet" href="/css/reporte.css" >
  </head>
  <body>
    <ul>
        <li>Organizacion: {{organizacion.razonSocial}}</li>
        <li>Reporte Nro: {{reporte.id}}</li>
        <li>Fecha: {{reporte.fechaCreacion}}</li>
        <li>Consumo Mediciones: {{reporte.consumoMediciones}}</li>
        <li>Consumo Total: {{reporte.consumoTotal}}</li>
        <li>FALTA</li>
    </ul>
    <br />
    <div class="volver">
      <span><a href="/reportes">VOLVER</a></span>
    </div>
  </body>
</html>