<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" href="/img/logo.png">

    {{#if trayecto}}
    <title>Modificar Trayecto {{trayecto.id}}</title>
    {{else}}
    <title>Crear Trayecto</title>
    {{/if}}
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/trayecto-edicion.css" >
  </head>
  <body>
  	<div class="edicion-trayecto">
      <span>ID-Trayecto: {{trayecto.id}}</span> <br /><br />
      <!-- action="/trayecto/#id" al editar particular (method post xq html.form no tiene put) -->
        <form {{#if trayecto}} action="/trayecto/{{trayecto.id}}" {{else}} action="/trayecto" {{/if}} method="post">
      	<div class="form-fecha">
        <label for="fecha">Fecha</label>
      	<input id="fecha" type="text" name="f-fecha" value="{{trayecto.periodo.mes}}/{{trayecto.periodo.anio}}"/>
        </div>
        <br />
        <div class="form-miembros">
          <fieldset>
            <legend>Miembros</legend>
            <!--<input id="logueado" type="checkbox" value="m-logueado" name="m-miembro" checked disabled/>
            <label for="logueado">Miembro Logueado</label><br />-->
            {{#each miembros}}
              <input id="miembro{{miembro.id}}" type="checkbox" value="{{miembro.id}}" name="f-miembro"  {{#if contieneTrayecto}}checked{{/if}} />
              <label for="miembro{{miembro.id}}">{{miembro.nombre}} {{miembro.apellido}} - {{miembro.tipoDeDocumento}}: {{miembro.nroDocumento}}</label><br />
            {{/each}}
            <!-- ver si name="m-miembro[]" como PHP -->
          </fieldset>
        </div>
        <br />

        <div class="form-tramos">
        {{#each trayecto.tramos}}
          <fieldset>
            <legend>Tramo{{id}}</legend>
            <label for="transporte">Transporte</label>
            <select id="transporte" name="f-transporte-{{@index}}" >
              <option class="campo-seleccionar" value="{{medioDeTransporte.id}}" selected>{{medioDeTransporte.clasificacion}}</option>
              {{#each transportesTotales}}
              <option value="{{id}}">{{clasificacion}}</option>
              {{/each}}
            </select>

            <!--<select id="transporte" name="transporte" required>
              <optgroup label="Público">
                <option value="subteA">Subte A</option>
                <option value="bondi47">Colectivo 47</option>
              </optgroup>
              <optgroup label="Particular">
                <option value="nafta">Nafta</option>
                <option value="gnc">GNC</option>
              </optgroup>
              <optgroup label="Ecológico">
                <option value="pie">A Pie</option>
                <option value="bicicleta">Bicicleta</option>
              </optgroup>
              <optgroup label="Contratado">
                <option value="uber">Uber</option>
                <option value="taxi">Taxi</option>
                <option value="didi">DiDi</option>
              </optgroup>
            </select>-->
            <br /><br />
            <fieldset>
              <legend>Coordenadas Iniciales</legend>
              <label>Latitud:</label>
              <input id="lat-inicial" type="text" name="f-lat-inicial-{{@index}}" value="{{ubicacionInicial.coordenada.latitud}}" />
              <label>Longitud:</label>
              <input id="lon-inicial" type="text" name="f-lon-inicial-{{@index}}" value="{{ubicacionInicial.coordenada.longitud}}"/>
            </fieldset>
            <br />
            <fieldset>
              <legend>Coordenadas Finales</legend>
              <label for="lat-final">Latitud:</label>
              <input id="lat-final" type="text" name="f-lat-final-{{@index}}" value="{{ubicacionFinal.coordenada.latitud}}"/>
              <label for="lon-final">Longitud:</label>
              <input id="lon-final" type="text" name="f-lon-final-{{@index}}" value="{{ubicacionFinal.coordenada.longitud}}"/>
            </fieldset>
          </fieldset>
          <br />
        {{/each}}

          <div class="tramos-nuevos">
            <fieldset>
              <legend>Nuevo Tramo</legend>
              <label for="transporte">Transporte</label>
              <select id="transporte" name="f-transporte-nuevo" >
                <option class="campo-seleccionar" selected disabled>Seleccionar</option>
                {{#each transportesTotales}}
                    <option value="{{id}}">{{clasificacion}}</option>
                {{/each}}
              </select>
              <br /><br />
              <fieldset>
                <legend>Coordenadas Iniciales</legend>
                <label>Latitud:</label>
                <input id="lat-inicial" type="text" name="f-lat-inicial-nueva" value="" />
                <label>Longitud:</label>
                <input id="lon-inicial" type="text" name="f-lon-inicial-nueva" value=""/>
              </fieldset>
              <br />
              <fieldset>
                <legend>Coordenadas Finales</legend>
                <label for="lat-final">Latitud:</label>
                <input id="lat-final" type="text" name="f-lat-final-nueva" value=""/>
                <label for="lon-final">Longitud:</label>
                <input id="lon-final" type="text" name="f-lon-final-nueva" value=""/>
              </fieldset>
            </fieldset>
            <br />
          </div>

        </div>
        {{#if trayecto}}
        <div class="eliminar">
            <label for="eliminacion">¿Eliminar Trayecto?</label>
            <input id="eliminacion" type="checkbox" value="true" name="f-eliminar" />
        </div>
        {{/if}}
        <div class="reiniciar">
          <input type="reset" value="Reiniciar"/> <!-- Quizas sacarlo -->
        </div>
        <div class="enviar"> 
          {{#if trayecto}}
          <input type="submit" value="Guardar Cambios" />
          {{else}}
          <input type="submit" value="Crear" />
          {{/if}}
        </div>
      </form>
    </div>
    <br />
    <div class="cancelar">
      {{#if trayecto}}
      <span><a href="/trayecto/{{trayecto.id}}">CANCELAR</a></span>
      {{else}}
      <span><a href="/trayectos">CANCELAR</a></span>
      {{/if}}
    </div>
  </body>
</html>