<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" href="/img/logo.png">
    {{#if trayecto}}
    <title>Modificar Trayecto {{trayecto.id}}</title>
    {{else}}
    <title>Crear Trayecto</title>
    {{/if}}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/trayecto.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/trayecto-edicion.css" >
  </head>
  <body>
    <header>
      <div id="header">
        <div class="user">
          <span>Usuario: </span>
          <i>{{rol}} - {{user}}</i>
        </div>
        <div class="logout">
          <form action="/logout" method="post">
            <input type="submit" value="Desconectar">
          </form>
        </div>
        <div class="titulo">
          <h1>TRAYECTOS</h1>
        </div>
      </div>
    </header>
    <div class="content">
      <div class="info">
        {{#if trayecto}}
        <span>ID-Trayecto: {{trayecto.id}}</span><br />
        <span>Miembros: </span>
        <ul>
          {{#each miembros}}
          <li>{{nombre}} {{apellido}} - {{tipoDeDocumento}}: {{nroDocumento}}</li>
          {{/each}}
        </ul>
        {{/if}}
        {{#with miembroLogueado}}
        <span>Miembro: {{nombre}} {{apellido}} - {{tipoDeDocumento}}: {{nroDocumento}}</span>
        {{/with}}
        <br/><br/>
      </div>
      <div class="edicion">
        <!-- Al editar trayecto se usa method post xq html no admite form.put -->
        <form {{#if trayecto}} action="/miembro/{{miembroID}}/trayecto/{{trayecto.id}}" {{else}} action="/miembro/{{miembroID}}/trayecto" {{/if}} method="post">
          {{#unless trayecto}}
          <label for="trayecto-compartido-ack">¿Es Trayecto Compartido?</label>
          <input id="trayecto-compartido-ack" type="checkbox" value="true" name="f-trayecto-compartido-ack" onclick="trayectoCompartido()" />
          <br/><br/>
          <div class="form-compartido">
            <label for="trayecto-id">Ingrese el ID del trayecto compartido: </label>
            <input id="trayecto-id" type="text" name="f-trayecto-id" value="" disabled/><br/><br/>
          </div>
          {{/unless}}

          <div class="form-fecha">
            <label for="fecha">Fecha</label>
<!--            <input id="fecha" type="text" name="f-fecha" value="{{trayecto.mes}}/{{trayecto.año}}" required/>-->
            <input id="fecha" type="text" name="f-fecha" {{#if trayecto}} value="{{trayecto.mes}}/{{trayecto.año}}" {{else}} value="MES/AÑO" {{/if}} required/>
          </div>
          <br />
          <div class="form-tramos">
            {{#each trayecto.tramos}}
            <div class="tramo-{{@index}}">
              <fieldset>
                <legend>Tramo{{id}}</legend>
                <label for="transporte-{{@index}}">Transporte</label>
                <select id="transporte-{{@index}}" name="f-transporte-{{@index}}" onchange="transporteSeleccionado('tramo-{{@index}}')" required>
                  <option class="campo-seleccionar" value="{{transporteID}}" selected>{{transporteCLASIFICACION}}</option>
                  {{#each ../transportesTotales}}
                  <optgroup label="{{tipo}}">
                    {{#each transportes}}
                    <option value="{{id}}">{{clasificacion}}</option>
                    {{/each}}
                  </optgroup>
                  {{/each}}
                </select>
                <br /><br />
                <div class="paradas">
                  <fieldset disabled>
                    <legend>Paradas</legend>
                    <label for="transporte-parada-inicial-{{@index}}">Partida:</label>
                    <select id="transporte-parada-inicial-{{@index}}" name="f-transporte-parada-inicial-{{@index}}">
                      <option class="campo-seleccionar" value="{{paradaInicialID}}" selected>{{direccionInicial.calle}} {{direccionInicial.numero}} ({{direccionInicial.localidad}})</option>
                      {{#each ../transportesTotales}}
                      {{#if publico}}
                      {{#each transportes}}
                      <optgroup label="{{clasificacion}}">
                        {{#each paradas}}
                        <option value="{{id}}">{{direccion.calle}} {{direccion.numero}} ({{direccion.localidad}})</option>
                        {{/each}}
                      </optgroup>
                      {{/each}}
                      {{/if}}
                      {{/each}}
                    </select>
                    <label for="transporte-parada-final-{{@index}}">Llegada:</label>
                    <select id="transporte-parada-final-{{@index}}" name="f-transporte-parada-final-{{@index}}">
                      <option class="campo-seleccionar" value="{{paradaFinalID}}" selected>{{direccionFinal.calle}} {{direccionFinal.numero}} ({{direccionFinal.localidad}})</option> <!-- VER DE SACAR DISABLED POR SI ANULAR -->
                      {{#each ../transportesTotales}}
                      {{#if publico}}
                      {{#each transportes}}
                      <optgroup label="{{clasificacion}}">
                        {{#each paradas}}
                        <option value="{{id}}">{{direccion.calle}} {{direccion.numero}} ({{direccion.localidad}})</option>
                        {{/each}}
                      </optgroup>
                      {{/each}}
                      {{/if}}
                      {{/each}}
                    </select>
                  </fieldset>
                </div>
                <br /><br />
                <div class="coordenadas">
                  <fieldset disabled>
                    <legend>Coordenadas Iniciales</legend>
                    <label for="lat-inicial-{{@index}}">Latitud:</label>
                    <input id="lat-inicial-{{@index}}" type="text" name="f-lat-inicial-{{@index}}" value="{{latitudInicial}}" required/>
                    <label for="lon-inicial-{{@index}}">Longitud:</label>
                    <input id="lon-inicial-{{@index}}" type="text" name="f-lon-inicial-{{@index}}" value="{{longitudInicial}}" required/>
                  </fieldset>
                  <br />
                  <fieldset disabled>
                    <legend>Coordenadas Finales</legend>
                    <label for="lat-final-{{@index}}">Latitud:</label>
                    <input id="lat-final-{{@index}}" type="text" name="f-lat-final-{{@index}}" value="{{latitudFinal}}" required/>
                    <label for="lon-final-{{@index}}">Longitud:</label>
                    <input id="lon-final-{{@index}}" type="text" name="f-lon-final-{{@index}}" value="{{longitudFinal}}" required/>
                  </fieldset>
                </div>
              </fieldset>
              <br />
            </div>
            {{/each}}
            <div class="tramo-nuevo">
              {{#if trayecto}}
              <br />
              <input id="tramo-nuevo-ack" type="checkbox" value="true" name="f-tramo-nuevo-ack" onclick="tramoNuevoHabilitacion()"/>
              <label for="tramo-nuevo-ack">Agregar Tramo Nuevo</label><br /><br />
              {{/if}}
              <fieldset {{#if trayecto}}disabled{{/if}}>
                <legend>Nuevo Tramo</legend>
                <label for="transporte-nuevo">Transporte</label>
                <select id="transporte-nuevo" name="f-transporte-nuevo" onchange="transporteSeleccionado('tramo-nuevo')" {{#unless trayecto}}required{{/unless}}>
                  <option class="campo-seleccionar" selected disabled>Seleccionar</option> <!-- VER DE SACAR DISABLED POR SI ANULAR -->
                  {{#each transportesTotales}}
                  <optgroup label="{{tipo}}">
                    {{#each transportes}}
                      <option value="{{id}}">{{clasificacion}}</option>
                    {{/each}}
                  </optgroup>
                  {{/each}}
                </select>
                <br /><br />
                <div class="paradas">
                  <fieldset disabled>
                    <legend>Paradas</legend>
                    <label for="transporte-parada-inicial-nueva">Partida:</label>
                    <select id="transporte-parada-inicial-nueva" name="f-transporte-parada-inicial-nueva">
                      <option class="campo-seleccionar" selected disabled>Seleccionar</option> <!-- VER DE SACAR DISABLED POR SI ANULAR -->
                      {{#each transportesTotales}}
                      {{#if publico}}
                      {{#each transportes}}
                      <optgroup label="{{clasificacion}}">
                        {{#each paradas}}
                        <option value="{{id}}">{{direccion.calle}} {{direccion.numero}} ({{direccion.localidad}})</option>
                        {{/each}}
                      </optgroup>
                      {{/each}}
                      {{/if}}
                      {{/each}}
                    </select>
                    <label for="transporte-parada-final-nueva">Llegada:</label>
                    <select id="transporte-parada-final-nueva" name="f-transporte-parada-final-nueva">
                      <option class="campo-seleccionar" selected disabled>Seleccionar</option> <!-- VER DE SACAR DISABLED POR SI ANULAR -->
                      {{#each transportesTotales}}
                      {{#if publico}}
                      {{#each transportes}}
                        <optgroup label="{{clasificacion}}">
                          {{#each paradas}}
                          <option value="{{id}}">{{direccion.calle}} {{direccion.numero}} ({{direccion.localidad}})</option>
                          {{/each}}
                        </optgroup>
                      {{/each}}
                      {{/if}}
                      {{/each}}
                    </select>
                  </fieldset>
                </div>
                <br /><br />
                <div class="coordenadas">
                  <fieldset disabled>
                    <legend>Coordenadas Iniciales</legend>
                    <label for="lat-inicial-nueva">Latitud:</label>
                    <input id="lat-inicial-nueva" type="text" name="f-lat-inicial-nueva" value="" {{#unless trayecto}}required{{/unless}}/>
                    <label for="lon-inicial-nueva">Longitud:</label>
                    <input id="lon-inicial-nueva" type="text" name="f-lon-inicial-nueva" value="" {{#unless trayecto}}required{{/unless}}/>
                  </fieldset>
                  <br />
                  <fieldset disabled>
                    <legend>Coordenadas Finales</legend>
                    <label for="lat-final-nueva">Latitud:</label>
                    <input id="lat-final-nueva" type="text" name="f-lat-final-nueva" value="" {{#unless trayecto}}required{{/unless}}/>
                    <label for="lon-final-nueva">Longitud:</label>
                    <input id="lon-final-nueva" type="text" name="f-lon-final-nueva" value="" {{#unless trayecto}}required{{/unless}}/>
                  </fieldset>
                </div>
              </fieldset>
              <br />
            </div>
          </div>
          <div class="reiniciar">
            <input type="reset" value="Reiniciar"/> <!-- Quizas sacarlo -->
          </div>
          <div class="enviar">
            {{#if trayecto}}
            <input type="submit" value="Guardar Cambios" />
            {{else}}
            <input type="submit" value="Crear" />
            {{/if}}
          </div>
        </form>
      </div>
      <br />
      <div class="cancelar">
        {{#if trayecto}}
        <span><a href="/miembro/{{miembroID}}/trayecto/{{trayecto.id}}">CANCELAR</a></span>
<!--        <span><a href="/trayecto/{{trayecto.id}}">CANCELAR</a></span>-->
        {{else}}
        <span><a href="/miembro/{{miembroID}}/trayecto?action=list">CANCELAR</a></span>
<!--        <span><a href="/trayectos">CANCELAR</a></span>-->
        {{/if}}
      </div>
    </div>
  </body>
</html>